@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

body {
    font-family: "Montserrat", serif;
    line-height: 30px;
}

.email-confirmation {
    width: 100%;
    height: fit-content;
    background-color: white;
    position: relative;
    padding-bottom: 200px;
}

.email-confirmation .logo{
    object-fit: contain;
    width: 500px;
    margin: 30px;
    display: flex;
    justify-content: center;
}

.email-confirmation h1, .email-confirmation h2, .email-confirmation p {
    color: black;
}

.email-confirmation p {
    font-size: 20px;
}

.email-confirmation-content {
    margin: 0 200px 0 100px;
}

.email-confirmation a {
    text-decoration: none;
    color: #3682E4;
}

.email-confirmation .confirm-button {
    background-color: #3682E4;
    color: white;
    border: none;
    font-family: "Montserrat", serif;

    font-size: 18px;
    cursor: pointer;
    padding: 7px 50px 7px 50px;
}

.email-confirmation-header {
    width: 100%;
    background-color: #3682E4;
    padding: 5px 0 5px 0;
}

